.logo {
    font-weight: bolder;
}

.title {

}

.link {


}

.logo {
    max-width: 90px;
    display: inline-block;
}

p {
    /*text-indent: 30px;*/
}


img.headshot {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.emphasize {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.tag {
    margin: 8px;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 22px;
}

.role {
    margin: 8px;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 22px;
    display: block;
}

.section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    border-color: lightgray;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 28px;
}

body {
    font-family: 'Merriweather', serif;
}